@model ML.Empleado
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empleados</h2>

<div class="row">
    <div class="col-md-12">
        <h5>Seleccione un empleado para editarlo o + para agregar...</h5>
        <hr />
    </div>
</div>

<div class="container">
    @using (Html.BeginForm("GetAll", "Empleado", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <div class="col">
                    <div class="col-md-4 col-12 col-sm-6">
                        @Html.LabelFor(model => model.Empresa.IdEmpresa)
                        @Html.DropDownListFor(model => model.Empresa.IdEmpresa, new SelectList(Model.Empresa.Empresas, "IdEmpresa","Nombre"),"Selecciona la empresa",new {@class="form-control", @id = "ddlEmpresa"})                 
                        @Html.ValidationMessageFor(model => model.Empresa.IdEmpresa)                        

                    </div>
                </div> 

                <div class="col">
                    <div class="col-md-4 col-12 col-sm-6">
                        @Html.LabelFor(model => model.Nombre)
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombreUsuario" })
                        @Html.ValidationMessageFor(model => model.Nombre)
                    </div>
                </div>


                <div class="col">
                    <div class="col-md-4 col-12 col-sm-6">
                        @Html.LabelFor(model => model.ApellidoPaterno)
                        @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control", @id = "txtApellidoPaterno" })
                        @Html.ValidationMessageFor(model => model.ApellidoPaterno)
                    </div>
                </div>


                <div class="col">
                    <div class="col-md-4 col-12 col-sm-6">
                        @Html.LabelFor(model => model.ApellidoMaterno)
                        @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control", @id = "txtApellidoMaterno" })
                        @Html.ValidationMessageFor(model => model.ApellidoMaterno)
                    </div>
                </div>
                 

                <div class="col">
                    <div class="col-md-3">
                        <input type="submit" value="Buscar" class="btn btn-success" />                        
                    </div>
                </div>

    }

</div>

@*<div class="row">*@
<div style="float:right;">
    @Html.ActionLink("+", "Form", "Empleado", htmlAttributes: new { @class = "btn btn-success" })
</div>

<br>

<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <td>Editar</td>
            <td hidden>NumeroEmpleado</td>
            <td>RFC</td>
            <td>Nombre</td>
            <td>Email</td>
            <td>Telefono</td>
            <td>Fecha de nacimiento</td>
            <td>NSS</td>
            <td>Fecha de ingreso</td>
            <td>Foto</td>
            <td hidden>IdEmpresa</td>
            <td>Empresa</td>
            <td>Eliminar</td>

        </tr>
    </thead>
    <tbody>

        @foreach (ML.Empleado empleado in Model.Empleados)
        {
            <tr>
                <td><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "Empleado", new { NumeroEmpleado = empleado.NumeroEmpleado })"></a></td>
                <td hidden>@empleado.NumeroEmpleado</td>
                <td>@empleado.RFC</td>
                <td>@empleado.Nombre @empleado.ApellidoPaterno @empleado.ApellidoMaterno</td>
                <td>@empleado.Email</td>
                <td>@empleado.Telefono</td>               
                <td>@empleado.FechaNacimiento</td>
                <td>@empleado.NSS</td>
                <td>@empleado.FechaIngreso</td>

                @if (empleado.Foto == "" || empleado.Foto == null)
                {
                   
                    <td> <img id="Img" src="~/imagenes/imgdefault.jpg" style="width:auto ; height:100px" /></td>
                }
                else
                {                    
                     <td> <img id="Img" src="data:image/*;base64,@empleado.Foto" style="width:auto ; height:100px" /></td>
                }

                <td hidden>@empleado.Empresa.IdEmpresa</td>  

                <td>@empleado.Empresa.Nombre</td>              
                              


                <td><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "Empleado", new { NumeroEmpleado= empleado.NumeroEmpleado})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"></a></td>
            </tr>
        }

    </tbody>
</table>
