@model ML.Empleado
@{
    ViewBag.Title = "EmpleadoGetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empleados</h2>

<div class="row">
    <div class="col-md-12">
        <h5>Seleccione asignar para consultar los dependientes del empleado...</h5>
        <hr />
    </div>
</div>

<div class="container">
    @using (Html.BeginForm("EmpleadoGetAll", "EmpleadoDependiente", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <div class="col">
                    <div class="col-md-4 col-12 col-sm-6">
                        @Html.LabelFor(model => model.Empresa.IdEmpresa)
                        @Html.DropDownListFor(model => model.Empresa.IdEmpresa, new SelectList(Model.Empresa.Empresas, "IdEmpresa","Nombre"),"Selecciona la empresa",new {@class="form-control", @id = "ddlEmpresa"})                 
                        @Html.ValidationMessageFor(model => model.Empresa.IdEmpresa)                        

                    </div>
                </div> 

                @*<div class="col">
                    <div class="col-md-4 col-12 col-sm-6">
                        @Html.LabelFor(model => model.Nombre)
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombreUsuario" })
                        @Html.ValidationMessageFor(model => model.Nombre)
                    </div>
                </div>


                <div class="col">
                    <div class="col-md-4 col-12 col-sm-6">
                        @Html.LabelFor(model => model.ApellidoPaterno)
                        @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control", @id = "txtApellidoPaterno" })
                        @Html.ValidationMessageFor(model => model.ApellidoPaterno)
                    </div>
                </div>


                <div class="col">
                    <div class="col-md-4 col-12 col-sm-6">
                        @Html.LabelFor(model => model.ApellidoMaterno)
                        @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control", @id = "txtApellidoMaterno" })
                        @Html.ValidationMessageFor(model => model.ApellidoMaterno)
                    </div>
                </div>*@
                 

                <div class="col">
                    <div class="col-md-3">
                        <input type="submit" value="Buscar" class="btn btn-success" />                        
                    </div>
                </div>

    }

</div>

<div class="row">

<br>

<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <td>Asignar</td>
            <td hidden>NumeroEmpleado</td>
            <td>Nombre</td>
            <td hidden>IdEmpresa</td>
            <td>Empresa</td>


        </tr>
    </thead>
    <tbody>

        @foreach (ML.Empleado empleado in Model.Empleados)
        {           

            <tr>
                <td><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("DependienteGetById", "EmpleadoDependiente", new { NumeroEmpleado = empleado.NumeroEmpleado })"></a></td>

                <td hidden>@empleado.NumeroEmpleado</td>
                <td>@empleado.Nombre @empleado.ApellidoPaterno @empleado.ApellidoMaterno</td>
                <td hidden>@empleado.Empresa.IdEmpresa</td>  
                <td>@empleado.Empresa.Nombre</td>                        
                                              
            </tr>
        }

    </tbody>
</table>